.new-account-fields-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.new-account-fields-container .ant-form-item {
  margin-bottom: 5px !important;
}


/* 
.ant-table-tbody .ant-table-row[data-row-key="PROCESSING"] { 
  background: rgb(255,245,229) !important;
  background: linear-gradient(90deg, #d5ffe6 0%, rgba(255,255,255,1) 100%) !important;
}
.ant-table-tbody .ant-table-row[data-row-key="SUBMITTED"] { 
  background: rgb(255,229,229)!important;
  background: linear-gradient(90deg,#ffe1e1,#fff) !important;
}
.ant-table-tbody .ant-table-row[data-row-key="Waiting_For_Approval"] { 
  background: rgb(255,245,229) !important;
  background: linear-gradient(90deg, #fff0db 0%, rgba(255,255,255,1) 100%) !important;
} */
.ant-table-row.PROCESSING {
  background: linear-gradient(90deg, #d5ffe6 0%, rgba(255,255,255,1) 100%) !important;
}
.ant-table-row.SUBMITTED {
  background: linear-gradient(90deg,#ffe1e1,#fff) !important;
}
.ant-table-row.Waiting_For_Approval {
  background: linear-gradient(90deg, #fff0db 0%, rgba(255,255,255,1) 100%) !important;
}
.preview-request-container .content .timeline .extra-card .ant-timeline-item-content {
  margin: 0 0 0 70px !important;
  background: #f8f8f8 !important;
  border: 1px solid #d0d0d0;
}
.preview-request-container .content .timeline .extra-card .ant-timeline-item-content::before {
  display: none !important;
}



.it-service-requests-table-container .ant-table-cell {
  background: transparent !important;
}
.it-service-requests-table-container .ant-pagination-options-size-changer.ant-select {
  display: block !important;
}


.issue-type_approval-icon {
  position: absolute; 
  bottom: 5px;
  right: -60px;
}

@media screen and (max-width: 575px) {
  .issue-type_approval-icon {
    bottom: 50px;
    right: 0;
  }
}