/* Basics */
:root{
  --main-color: #50220E;
  --second-color: #D59F29;
  --third-color: #FEF2E3;
  --text-color: var(--main-color);
  --link-text-color: var(--second-color);
  --brand-green-color: #23cdb2;
  --brand-orange-color: var(--second-color);
  --brand-red-color: #D32A2A;
  --main-animation-duration: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
ul {
  list-style: none;
  margin-bottom: 0 !important;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0 !important;
  color: var(--main-color) !important;
  line-height: 1;
}
p {
  /* color: var(--text-color) !important; */
  line-height: normal;
  margin-bottom: 0 !important;
}


a { text-decoration: none; }
/* a:hover, a:focus, a:active { color: var(--text-color) !important; } */
a:hover, a:focus, a:active { opacity: 0.85; }

body {
  font-family: Helvetica, Arial;
}
html {
  direction: ltr;
  scroll-behavior: smooth;
}

.app-container {
  display: flex;
  min-height: 100vh;
  max-width: calc(100vw - 10px);
  position: relative;
}
/* @media screen and (max-width: 768px) {
  .app-container {
    max-width: 100vw;
  }
} */
.content-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  /* background: #e0e9ff; */
  /* background: linear-gradient(0deg,#e0e9ff,#fff); */
}
.container {
  max-width: 2560px;
  position: relative;
  margin: 25px auto 25px auto;
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .container {
    margin: 15px auto 15px auto;
  }
}
@media screen and (min-width: 0px) and (max-width: 799px) {
  .container {
    margin: 10px auto 10px auto;
  }
}


.-mt-10 {
  margin-top: -10px !important;
}

/* App Loader */
.loader {
  position: fixed;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 18;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all .3s ease .15s;
}
.loader div {
  border: 8px solid #f3f3f3;
  border-top: 8px solid var(--link-text-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 30px auto;
  animation: spin 2s linear infinite;

}
/* Section Loader */
.loader.small {
  position: relative;
}
.loader.small div {
  border: 5px solid #f3f3f3;
  border-top: 5px solid var(--link-text-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 10px auto;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* world Background in pages */
img.img-bg {
  width: 160vh;
  position: fixed;
  top: 85px;
  right: -60vh;
  opacity: .15;
  z-index: 0;
  pointer-events: none;
  animation: spin 200s linear infinite;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}



/* standard app page */
.standard-page {
  padding: 110px 25px 25px 25px;
  position: relative;
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .standard-page {
    padding: 100px 15px 15px 15px;
  }
}
@media screen and (min-width: 0px) and (max-width: 799px) {
  .standard-page {
    padding: 95px 10px 10px 10px;
  }
}



* {
	scrollbar-color: var(--second-color) var(--third-color);
	scrollbar-width: thin;
}

/* Custom Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--third-color);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--second-color);
}




/* ant modal */
.ant-modal-content {
  border-radius: 10px !important;
  overflow: hidden !important;
}

@media screen and (min-width: 1000px) {
  .more-width-antd-modal {
    width: 900px !important;
  }
}
@media screen and (min-width: 1500px) {
  .more-width-antd-modal {
    width: 1100px !important;
  }
}


/* fix antd test input */
.ant-input {
  padding: 4px 11px !important;
  border: 1px solid #d9d9d9;
}
.ant-input:not([disabled]) {
  background-color: #fff !important;
}
.ant-input-lg {
  padding: 6.5px 11px !important;
}
.ant-input {
  border: 1px solid #d9d9d9 !important;
}
.ant-input[disabled], .ant-picker-input > input[disabled] {
  color: rgba(0,0,0,0.65) !important;
}





.ant-table-cell {
  line-height: 1.2 !important;
}
.content-services-request div.form .ant-table-thead .ant-table-cell {
  text-align: center !important;
}
.content-services-request div.form .editable-cell-value-wrap {
  width: 100% !important;
  min-height: 25px !important;
}

.content-services-request .ant-input[disabled],
.content-services-request .ant-input-number-disabled,
.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  color: rgba(0,0,0,.75) !important;
}
.ant-btn-circle {
  min-width: 32px !important;
  min-height: 32px !important;
}



.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  /* padding: 5px 12px; */
  cursor: pointer;
}

/* .editable-row .editable-cell-value-wrap {
  outline: 1px solid #d9d9d900;
} */
.editable-row:hover .editable-cell-value-wrap {
  /* outline: 1px solid #d9d9d9; */
  /* border-radius: 4px; */
  min-height: 20px;
  border-bottom: 1px solid #d9d9d9;
}


.hover-underline:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: all .3s;
}



/* .ant-btn {
  border-radius: 4px !important;
} */
.ant-btn:not(.ant-btn-circle):not(.ant-btn-round) {
  border-radius: 4px !important;
}

button.ant-btn.ant-btn-primary.ant-btn-warning {
  background: #eda601;
  border-color: #ce9511;
}
button.ant-btn.ant-btn-primary.ant-btn-success {
  background: #16b699;
  border-color: #0eaa8d;
}
button.ant-btn.ant-btn-primary.ant-btn-success:hover,
button.ant-btn.ant-btn-primary.ant-btn-warning:hover {
  opacity: 0.8 !important;
}

button.ant-btn.ant-btn-primary.ant-btn-success:active,
button.ant-btn.ant-btn-primary.ant-btn-warning:active {
  opacity: 0.6 !important;
}




.text-white {
  color: white !important;
}


._achiev-chall_card-container {
  position: relative;
  padding: 25px;
  border-radius: 10px;
  background-color: #fafafa;
  border: 1px solid #e2e2e2;
  min-width: 300px;
  min-height: 100px;
  transition: all 0.3s ease-in-out;
}
._achiev-chall_card-container:hover {
  background: #fff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  /* transform: scale(1.02); */
  /* cursor: pointer; */
}
@media screen and (max-width: 767px) {
  ._achiev-chall_card-container {
    padding: 15px;
  }
}



.report-style-class {
  height: calc(100vh - 150px);
}
.report-style-class iframe {
  border: 0;
}