#custom-card {
  position: relative;
  background-color: white;
  border-radius: 7px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* neon shadow */
  box-shadow: 0 0.3rem 1rem 0 rgba(0, 102, 255, 0.09);
}
#custom-card:hover {
  box-shadow: 0 0.3rem 1rem 0 rgba(0, 102, 255, 0.13);
}
#custom-card .card-header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#custom-card .card-header .card-label {
  font-size: 1.2rem;
  font-weight: 500;
  color: #2a2a2a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
#custom-card .card-body {
  height: max-content;
}